annotated-types
anyio
certifi
click
contourpy
cycler
dotenv
fastapi
fonttools
h11
httpcore
httpx
idna
iniconfig
joblib
-e git+https://github.com/TUK-JetSetGo/JSG-ML-API.git@467cf7458932f32d705012a8d0050b17848ec07a#egg=JSG_ML_API
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pluggy
PuLP
pydantic
pydantic_core
pyparsing
pytest
python-dateutil
python-dotenv
pytz
scikit-learn
scipy
seaborn
setuptools
six
sniffio
SQLAlchemy
starlette
threadpoolctl
typing-inspection
typing_extensions
tzdata
uvicorn
pre-commit
pymysql